@model dynamic
@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/font-awesome.css">
    <link rel="stylesheet" href="../Content/templatemo-training-studio.css">
    <title>Contatta il tuo Allenatore</title>
</head>
<body>
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>Contatta il tuo<em> Allenatore</em></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Trainer contattato <em> Correttamente</em></h2>
                        <img src="../Images/line-dec.png" alt="">
                        <p>Il trainer è stato avvisato della tua richiesta, al più presto ti verrà assegnata una scheda per iniziare la tua esperienza!!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <center>
        @using (Html.BeginForm("BackToTheHomeClient", "Home"))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Torna alla home" style="color: white; background-color: #ed563b; display: inline-block; font-size: 13px; padding: 11px 17px; text-align: center; font-weight: 400; border: none; outline: none; margin-top: -8px; "/>
        }
    </center>


</body>
</html>
