
@{
    ViewBag.Title = "DatiErratiLogin";
}

<h2>Attenzione hai inserito delle credenziali errate!!</h2>
@Html.ActionLink("Riprova ad effettuare l'accesso", "LogIn", "home")<p></p>
@Html.ActionLink("Torna alla home", "Index", "home")

