
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/font-awesome.css">
    <link rel="stylesheet" href="../Content/templatemo-training-studio.css">
    <meta name="viewport" content="width=device-width" />
    <title>Errore</title>
</head>
<body>
    <hgroup>
        <h2 style="font-size: 23px; font-weight: 700; color: #ed563b; display: inline; ">ERRORE:</h2>
        <h2 style="font-size: 23px; font-weight: 700; color: #232d39; display: inline;"> QUALCOSA E' ANDATO STORTO</h2>
        <h3 style="font-size: 13px">Dettagli errore: @ViewData["ErrorMessage"]</h3>
        @Html.ActionLink("Torna alla home", "Index", "Home")
    </hgroup>
    <center><img src="\Images\error.png" style="height:200px;width:300px"/></center>
</body>
</html>
