
@{
    ViewBag.Title = "GiaRegistrato";
}

<h2>Attenzione!!, ha già effettuato la registrazione al nostro sito!</h2>
@Html.ActionLink("Per accedere alla tua area riservata clicca qui", "LogIn", "Home")

