@{
    ViewBag.Title = "GiaRegistrato";
}

<h2>Attenzione!! ha già effettuato la registrazione al nostro sito oppure ha immesso dati già utilizzati da un'altra persona!!</h2>
<h3>La preghiamo di tornare indietro e riprovare!</h3>
@Html.ActionLink("Per tornare alla registrazione clicca qui", "Registrati", "Home")
@Html.ActionLink("Per accedere alla tua area riservata clicca qui", "LogIn", "Home")


