<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Trivelloni/Battaglioli gym</title>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../Content/font-awesome.css">

    <link rel="stylesheet" href="../Content/templatemo-training-studio.css">

</head>

<body>

    <!-- ***** Preloader Start *****
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="../Images/gym-video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>work harder, get stronger</h6>
                <h2>easy with our <em>WebGym</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="#features">Unisciti Ora</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>La palestra <em>al tuo fianco</em></h2>
                        <img src="../Images/line-dec.png" alt="">
                        <p>Abbiamo pensato già a tutto, lascia che te lo mostriamo!</p>
                    </div>
                </div>
            </div>
            <div class="row" id="tabs">
                <div class="col-lg-4">
                    <ul>
                        <li><a href='#tabs-1'><img src="../Images/tabs-first-icon.png" alt="">Palestra</a></li>
                        <li><a href='#tabs-2'><img src="../Images/tabs-first-icon.png" alt="">Zumba</a></li>
                        <li><a href='#tabs-3'><img src="../Images/tabs-first-icon.png" alt="">Yoga</a></li>
                        <!-- <li><a href='#tabs-4'><img src="../Images/tabs-first-icon.png" alt="">Fourth Training Class</a></a></li> -->
                        <!--<div class="main-rounded-button"><a href="#">View All Schedules</a></div> -->
                    </ul>
                </div>
                <div class="col-lg-8">
                    <section class='tabs-content'>
                        <article id='tabs-1'>
                            <img src="../Images/training-image-01.jpg" alt="First Class">
                            <h4>Palestra</h4>
                            <p>La palestra è benessere. Un costante allenamento ti permetterà, nel giro di pochi mesi, di lasciare tutti a bocca aperta per il tuo cambiamento. Ricordati però di un aspetto fondamentale: l'allenamento deve sempre essere mirato al tuo benessere fisico. WebGym promuove lo sport come mezzo di libertà e crescita.</p>
                            <div class="main-button">
                                <!-- <a href="#">View Schedule</a> -->
                            </div>
                        </article>
                        <article id='tabs-2'>
                            <img src="../Images/zumba.jpg" alt="Second Training">
                            <h4>Zumba</h4>
                            <p>Vuoi sentirti attivo già di primo mattino? Senti il bisogno di scaricare la tensione accumulata durante il giorno? I corsi di Zumba sono quello di cui hai bisogno. Sessioni di 70 minuti ad alta intensità per attivare la circolazione e bruciare calorie.</p>
                            <div class="main-button">
                                <!--  <a href="#">View Schedule</a> -->
                            </div>
                        </article>
                        <article id='tabs-3'>
                            <img src="../Images/yoga.jpg" alt="Third Class">
                            <h4>Yoga</h4>
                            <p>E' il momento di rilassarsi con i corsi di Yoga. I nostri personal-trainer ti giuderano nell'apprendimento delle tecniche di rilassamento corporeo: ne trattai parecchi benefici!</p>
                            <div class="main-button">
                                <!--<a href="#">View Schedule</a> -->
                            </div>
                        </article>

                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->
    <!-- ***** Features Item Start ***** -->
    <!--
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Seleziona il tuo <em>Programma</em></h2>
                        <img src="../Images/line-dec.png" alt="waves">
                        <p>WebGym è al tuo fianco! Scegli tra i nostri piani di allenamento e raggiungi i tuoi obiettivi.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="../Images/features-first-icon.png" alt="First One">
                            </div>
                            <div class="right-content">
                                <h4>Basic Fitness</h4>
                                <p>Accedi alla nostra struttura e sostieni un allenamento piacevole. Ricorda: il segreto è la costanza!</p>
                                <a href="#" class="text-button">Discover More</a>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="../Images/features-first-icon.png" alt="second one">
                            </div>
                            <div class="right-content">
                                <h4>Up-To-Date Gym</h4>
                                <p>La nostra struttura si avvale delle attrezzature più moderne, in modo tale da vivere esprienze sempre più intense.</p>
                                <a href="#" class="text-button">Discover More</a>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="../Images/features-first-icon.png" alt="third gym training">
                            </div>
                            <div class="right-content">
                                <h4>Customer Wellness</h4>
                                <p>WebGym presta attenzione al benessere del cliente. La nostra struttura dispone di spogliatoi, docce e phon a libero accesso.</p>
                                <a href="#" class="text-button">Discover More</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="../Images/features-first-icon.png" alt="fourth muscle">
                            </div>
                            <div class="right-content">
                                <h4>Ipertrofia</h4>
                                <p>Vuoi aumentare la tua massa muscolare?Chiedi ai nostri personal-trainer un allenamento personalizzato.</p>
                                <a href="#" class="text-button">Discover More</a>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="../Images/features-first-icon.png" alt="training fifth">
                            </div>
                            <div class="right-content">
                                <h4>Yoga & Zumba</h4>
                                <p>Ti piace alzarti il mattino presto e sentirti attivo? Oppure preferisci una serata rilassante? I corsi di Zumba e Yoga sono ciò che fa per te.</p>
                                <a href="#" class="text-button">Discover More</a>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="../Images/features-first-icon.png" alt="gym training">
                            </div>
                            <div class="right-content">
                                <h4>Tonificazione</h4>
                                <p>Tonifica i tuoi muscoli e diventa invincibile. Lascia che sia WebGym ad accompagnarti in questo intenso percorso!</p>
                                <a href="#" class="text-button">Discover More</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ***** Features Item End ***** -->
    <!-- ***** Call to Action Start ***** -->
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>Don’t <em>think</em>, begin <em>today</em>!</h2>
                        <p>Sei alle prime armi con il mondo della palestra? Non ti senti all'altezza? O magari ancora sei in cerca di nuove sfide? WebGym è il posto giusto che fa per te. Abbiamo pensato ad ogni particolare!</p>
                        <div class="main-button scroll-to-section">
                            <a href="#our-classes">Scopri di più</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->
    <!--
    <section class="section" id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading dark-bg">
                        <h2>Classes <em>Schedule</em></h2>
                        <img src="../Images/line-dec.png" alt="">
                        <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="filters">
                        <ul class="schedule-filter">
                            <li class="active" data-tsfilter="monday">Monday</li>
                            <li data-tsfilter="tuesday">Tuesday</li>
                            <li data-tsfilter="wednesday">Wednesday</li>
                            <li data-tsfilter="thursday">Thursday</li>
                            <li data-tsfilter="friday">Friday</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10 offset-lg-1">
                    <div class="schedule-table filtering">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="day-time">Fitness Class</td>
                                    <td class="monday ts-item show" data-tsmeta="monday">10:00AM - 11:30AM</td>
                                    <td class="tuesday ts-item" data-tsmeta="tuesday">2:00PM - 3:30PM</td>
                                    <td>William G. Stewart</td>
                                </tr>
                                <tr>
                                    <td class="day-time">Muscle Training</td>
                                    <td class="friday ts-item" data-tsmeta="friday">10:00AM - 11:30AM</td>
                                    <td class="thursday friday ts-item" data-tsmeta="thursday" data-tsmeta="friday">2:00PM - 3:30PM</td>
                                    <td>Paul D. Newman</td>
                                </tr>
                                <tr>
                                    <td class="day-time">Body Building</td>
                                    <td class="tuesday ts-item" data-tsmeta="tuesday">10:00AM - 11:30AM</td>
                                    <td class="monday ts-item show" data-tsmeta="monday">2:00PM - 3:30PM</td>
                                    <td>Boyd C. Harris</td>
                                </tr>
                                <tr>
                                    <td class="day-time">Yoga Training Class</td>
                                    <td class="wednesday ts-item" data-tsmeta="wednesday">10:00AM - 11:30AM</td>
                                    <td class="friday ts-item" data-tsmeta="friday">2:00PM - 3:30PM</td>
                                    <td>Hector T. Daigle</td>
                                </tr>
                                <tr>
                                    <td class="day-time">Advanced Training</td>
                                    <td class="thursday ts-item" data-tsmeta="thursday">10:00AM - 11:30AM</td>
                                    <td class="wednesday ts-item" data-tsmeta="wednesday">2:00PM - 3:30PM</td>
                                    <td>Bret D. Bowers</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->
    <!-- ***** Footer Start ***** -->
    <!--<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright &copy; 2020 Training Studio

                        - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">TemplateMo</a><br>

                        Distributed by <a rel="nofollow" href="https://themewagon.com" class="tm-text-link" target="_blank">ThemeWagon</a>

                    </p>

    </div>
    </div>
    </div>
    </footer>  -->
    <!-- jQuery
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/mixitup.js"></script>
    <script src="assets/js/accordions.js"></script>

    <!-- Global Init
    <script src="assets/js/custom.js"></script>
        -->

</body>
</html>